* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  background-image: url(https://images.unsplash.com/photo-1579547621706-1a9c79d5c9f1?q=80&w=2070&auto=format&fit=crop);
  padding: 3.2rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.box-main {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 2rem;
}

h1,
h2 {
  font-size: 4rem;
  text-align: center;
  font-weight: 700;
}

h2 {
  color: #c084fc;
  font-weight: 700;
}
h1 {
  color: #1e293b;
  font-weight: 700;
}
.desc-title {
  font-size: 1.25rem;
  text-align: center;
  color: #334155;
  font-weight: 400;
  margin-top: 1rem;
}
.box-start-learn {
  text-align: center;
  margin-top: 2rem;
}

.start-learn {
  background-color: #a855f7;
  color: #fff;
  border-radius: 8rem;
  border: none;
  outline: none;
  padding: 1rem;
  font-size: 1.125rem;
  cursor: pointer;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
}

.start-learn:hover {
  background-color: #9333ea;
  transition: 0.4s;
}

.logo {
  text-align: center;
  margin-top: 3rem;
}

.logo img {
  border-radius: 8rem;
  width: 3rem;
  height: auto;
  outline: 0.4rem solid rgba(192, 132, 252, 0.6);
}

.desc-inf {
  font-size: 1.25rem;
  color: #334155;
  text-align: center;
  margin-top: 1rem;
}
.desc-inf span {
  font-weight: 700;
  color: #c084fc;
}
.btn-color {
  text-align: center;
  font-size: 1.125rem;
  margin-top: 2rem;
  font-weight: 400;
}
.btn-color input {
  border-radius: 0;
  border: 0.0625rem solid #333;
  font-weight: 600;
}

.advice {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 1.25rem;
  margin-top: 1.5rem;
  padding: 1rem;
  transition: 0.4;
}

.advice h3 {
  font-size: 1.375;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}

.advice p {
  font-size: 1.125rem;
  font-weight: 400;
  color: #334155;
  text-align: center;
  transition: 0.4;
}

.item {
  text-align: center;
  margin-top: 3rem;
}

.item span {
  font-size: 1rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  font-weight: 400;
}

.item img {
  width: 1rem;
  height: auto;
  margin-bottom: 0;
}

#focus:checked ~ .advice {
  background-color: rgba(192, 132, 252, 0.35);
  color: #6b21a8;
}
#focus:checked ~ .advice p {
  color: #6b21a8;
}

.main {
  border: 0.0625rem solid rgba(192, 132, 252, 0.6);
  border-radius: 1rem;
}
footer {
  margin-top: 1.5rem;
  padding-top: 2rem;
  border-top: 0.0625rem solid rgba(192, 132, 252, 0.6);
  background-color: rgba(255, 255, 255, 0.35);
  padding-bottom: 0.5rem;
}
footer p {
  font-size: 1rem;
  color: #334155;
  text-align: center;
}
