:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
}
html {
  /* 62.5% = 10px nên 16px = 1.6rem*/
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Be Vietnam Pro", sans-serif;
  box-sizing: border-box;
}
.grid {
  width: 1200px;
  max-width: 100%;
}
.grid__full-width {
  width: 100%;
}
.grid__row {
  display: flex;
  flex-wrap: wrap;
}
