ul {
  list-style: none;
  padding-left: 0;
}
body {
  background-color: #f7f7f8;
}
a {
  text-decoration: none;
}
.header {
  width: 100%;
  max-width: 1860px;
  height: 154px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.top-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: #ffffff;
  background-color: #ff9500;
  height: 55px;
  width: 100%;
  border-radius: 8px;
}
.top-banner--desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
.top-banner--icon {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.nav-bar {
  width: 100%;
  height: 99px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-bar-container {
  display: flex;
  gap: 20px;
  height: 54px;
}
.nav-bar-logo {
  width: 54px;
  height: 54px;
  background-color: #ff9500;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.nav ul li {
  height: 100%;
}
.nav ul li:first-child {
  background-color: #f1f1f3;
  border-radius: 8px;
}
.nav ul li:hover {
  background-color: #f1f1f3;
  border-radius: 8px;
  transition: 0.4s;
}
.nav ul li a {
  padding: 14px 24px;
  font-size: 18px;
  color: #262626;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav__btn {
  display: flex;
  gap: 30px;
}
.nav__btn-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  cursor: pointer;
  border: none;
}

.nav__btn--sign-up {
  display: flex;
  align-items: center;
  color: #262626;
  background-color: transparent;
}

.nav__btn--login {
  padding: 12px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;

  background-color: #ff9500;
  border-radius: 8px;
}

/* start hero section */
.hero-section {
  width: 100%;
  max-width: 965px;
  margin-left: auto;
  margin-right: auto;
}

.sub-hero-section {
  width: 100%;
}

.top-hero-section {
  width: 100%;
  max-width: 854px;
  margin-left: auto;
  margin-right: auto;
  padding: 14px 30px 14px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #fcfcfd;
  border: 1px solid #f1f1f3;
  border-radius: 11px;
  position: relative;
}
.top-hero-section svg {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}
.top-hero-section h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 150%;
  color: #1a1a1a;
}
.top-hero-section h1 span {
  color: #ff9500;
}

.top-hero-section__icon {
  padding: 14px;
  background-color: #fff4e5;
}
.top-hero-section__icon i {
  font-size: 22px;
}

.text-hero-section {
  color: #262626;
  width: 100%;
}
.text-hero-section p:first-child {
  font-weight: 500;
  font-size: 38px;
  text-align: center;
  line-height: 150%;
}
.text-hero-section p:last-child {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 150%;
}

/* start btn hero section */

.hero-section-btn {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 70px;
}

.hero-section-btn-item {
  padding: 18px 24px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}

.hero-section-btn-item:first-child {
  background-color: #ff9500;
  border-radius: 8px;
  border: none;
}
.hero-section-btn-item:last-child {
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #f1f1f3;
}
.hero-section-btn-item:first-child {
  color: #ffffff;
}
.hero-section-btn-item:last-child {
  color: #262626;
}

/*start list app */
.list-app {
  width: 100%;
  max-width: 1279px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fcfcfd;
  border: 1px solid #f1f1f3;
  margin-top: 70px;
}
.list-app ul {
  display: flex;
  padding: 24px 0;
  justify-content: center;
}
.list-app ul li {
  flex: 1;
}
.list-app ul li:not(:first-child) {
  border-left: 1px solid #f1f1f3;
}
.list-app ul li a {
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4c4c4d;
  font-weight: 500;
  font-size: 29px;
  line-height: 150%;
  height: 100%;
}
/* start image container */
.image-container {
  width: 100%;
  max-width: 1279px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  position: relative;
}
.overlay-image-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.image-container img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.btn-icon {
  width: 72px;
  height: 72px;
  padding: 14px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  background-color: rgba(255, 255, 255, 0.2);
  border: 6px solid rgba(255, 255, 255, 0.3);
}
.btn-icon i {
  font-size: 22px;
  color: #ffffff;
}

/* end image container */

/* start benefit section */
.benefit-section {
  width: 100%;
  max-width: 1279px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

.text-benefit p strong {
  color: #262626;
  line-height: 150%;
  font-size: 48px;
  font-weight: 600;
}
.text-benefit p:last-child {
  font-weight: 400;
  line-height: 150%;
  font-size: 18px;
  color: #59595a;
}
.btn-view {
  position: relative;
}
.btn-view button {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  padding: 18px 24px;
  background-color: #fcfcfd;
  border-radius: 8px;
  border: 1px solid #f1f1f3;
  color: #262626;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  cursor: pointer;
  transition: all ease 0.4s;
}
.btn-view button:hover {
  background-color: #f1f1f3;
}
.container-benefit-section {
  margin-top: 40px;
}

.container-benefit-section .list-benefit {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.container-benefit-section .item-benefit {
  padding: 30px;
  width: calc((100% - 20px) / 3);
  min-height: 320px;
  position: relative;
}
.container-benefit-section .number {
  text-align: right;
}
.container-benefit-section .number b {
  font-weight: 700;
  line-height: 24px;
  font-size: 62px;

  color: #262626;
  height: auto;
}

.container-benefit-section p b {
  font-size: 23px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.6%;
}

.item-benefit-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #4c4c4d;
  margin-top: 10px;
}
.item-benefit-title {
  margin-top: 20px;
}

.container-benefit-section .item-icon {
  display: inline-block;
  padding: 20px;
  background-color: #f1f1f3;
  border-radius: 8px;
  position: absolute;
  bottom: 20px;
  right: 30px;
  cursor: pointer;
}
.container-benefit-section .item-icon i {
  transform: rotate(-45deg);
  color: #ff9500;
  font-size: 26px;
}

/* đoạn này đang dùng absolute cho thẻ icon, nếu không dùng thì các icon không thẳng hàng và phải dùng min-height. vậy nếu reponsive xấu đi thì sao */

.benefit-section {
  width: 100%;
  max-width: 1279px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

/* our course */
.our-courses-section {
  margin-top: 70px;
}
.container-course {
  margin-top: 80px;
}
.list-course {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.item-course {
  width: calc((100% - 20px) / 2);
  padding: 50px;
  border-radius: 12px;
  border: 1px solid #f1f1f3;
  background-color: #ffffff;
}
.item-course img {
  width: 100%;
  max-height: 272px;
  object-fit: cover;
  border-radius: 8px;
}
.sub-course-inf {
  display: flex;
  justify-content: space-between;
  height: auto;
  align-items: center;
}
.sub-course-inf > div > span {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  padding: 10px 16px;
  border: 1px solid #f1f1f3;
  border-radius: 8px;
  background-color: #ffffff;
  display: inline-block;
}
.sub-course-inf > span {
  font-weight: 500;
  color: #262626;
  font-size: 20px;
  line-height: 100%;
}
.text-item-course {
  margin-top: 20px;
}
.text-item-course p:first-child {
  margin-bottom: 15px;
}
.text-item-course p:first-child strong {
  font-weight: 600;
  line-height: 150%;
  color: #262626;
  font-size: 24px;
}
.text-item-course p:last-child {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: justify;
}
.btn-course {
  margin-top: 20px;
}

.btn-course button {
  width: 100%;
  height: 56px;
  display: block;
  font-weight: 500;
  line-height: 150%;
  font-size: 18px;
  color: #262626;
  background-color: #f7f7f8;
  border: 1px solid #f1f1f3;
  border-radius: 8px;
  cursor: pointer;
}

.btn-course button:hover {
  background-color: #f1f1f3;
  transition: all ease 0.4s;
}

/* testimonials */
.testimonials-section {
  margin-top: 70px;
}
.container-testimonials {
  margin-top: 70px;
}
.list-ttm {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.item-ttm {
  width: calc((100% - 20px) / 2);
  border: 1px solid #f1f1f3;
  border-radius: 12px;
}
.item-ttm p {
  padding: 50px;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: #4c4c4d;
}
.line {
  width: 100%;
  height: 1px;
  background-color: #f1f1f3;
  display: block;
}
.ttm-user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.ttm-user span b {
  font-size: 18px;
  line-height: 150%;
  color: #333333;
}
.ttm-inf {
  padding: 30px 50px;
  background-color: #fcfcfd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.ttm-inf img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  object-fit: cover;
}
.ttm-inf button {
  padding: 16px 18px;
  border-radius: 8px;
  background-color: #f7f7f8;
  border: 1px solid #f1f1f3;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  color: #262626;
  cursor: pointer;
}
.ttm-inf button:hover {
  transition: all ease 0.4s;
  background-color: #f1f1f3;
}

/* start our - pricing */
.our-pricing {
  margin-top: 70px;
}
.btn-pricing {
  position: relative;
}
.btn-pricing div {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  display: flex;
  padding: 12px;
  border-radius: 8px;
  background-color: #ffffff;
}
.btn-pricing button {
  display: inline-block;
  padding: 14px 30px;
  font-size: 18px;
  line-height: 150%;
  color: #4c4c4d;
  border-radius: 100px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}
.btn-pricing button:first-child {
  color: #ffffff;
  background-color: #ff9500;
  border-radius: 6px;
}
/* start container - pricing */
.container-pricing {
  padding: 80px;
  gap: 30px;
  display: flex;
  background-color: #ffffff;
  margin-top: 50px;
}
.item-pricing {
  width: calc((100% - 30px) / 2);
  padding: 50px 30px 30px 30px;
  background-color: #fcfcfd;
  border: 1px solid #f1f1f3;
  border-radius: 12px;
}
.item-pricing .item-pricing-title {
  background-color: #ffeacc;
  border: 1px solid #fff9f0;
  border-radius: 6px;
  padding: 12px 22px;
  text-align: center;
}
.item-pricing .item-pricing-title span {
  color: #262626;
  font-weight: 500;
  line-height: 169%;
  font-size: 18px;
}
.item-pricing-desc {
  color: #4c4c4d;
  font-size: 18px;
  line-height: 73%;
  font-weight: 500;
  margin-top: 40px;
  text-align: center;
}
.item-pricing-desc strong {
  font-size: 60px;
  line-height: 73%;
  color: #262626;
}

.container-features {
  margin-top: 40px;
}
.box-features {
  padding: 30px;
  background-color: #ffffff;
  border: 1px solid #f1f1f3;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}
.box-features p:first-child {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #262626;
  text-align: center;
}
.list-features {
  padding-right: 30px;
  padding-left: 30px;
}
.item-features {
  display: flex;
  gap: 12px;
  border: 1px solid #f1f1f3;
  border-radius: 8px;
  align-items: center;
  padding: 8px;
}
.item-features {
  margin-top: 15px;
}
.item-features-icon {
  display: inline-block;
  padding: 6px;
  background-color: #fff4e5;
  color: #262626;
  border-radius: 6px;
}
.item-features-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  color: #4c4c4d;
}
.item-features-x .item-features-icon-x {
  background-color: #f1f1f3;
}
.container-features button {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 20px 24px;
  background-color: #ff9500;
  color: #ffffff;
  line-height: 150%;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  display: flex;
  border: 1px solid #ff9500;
  justify-content: center;
  cursor: pointer;
}

/* start faq section */
.faq-section {
  padding: 100px;
  background-color: #ffffff;
  border-radius: 12px;
  display: flex;
  gap: 40px;
  margin-top: 70px;
}
.text-faq {
  flex: 1;
}
.item-faq {
  flex: 2;
}
.text-faq p strong {
  font-size: 40px;
  line-height: 120%;
  color: #262626;
}
.text-faq p {
  color: #333333;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.text-faq button {
  padding: 14px 20px;
  border: 1px solid #f1f1f3;
  background-color: #ffffff;
  border-radius: 8px;
  color: #262626;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  margin-top: 30px;
  cursor: pointer;
  transition: all ease 0.4s;
}
.text-faq button:hover {
  background-color: #f1f1f3;
}
.card-faq {
  padding: 30px 50px;
  border: 1px solid #f1f1f3;
  background-color: #ffffff;
  border-radius: 12px;
}
.card-faq:not(:first-child) {
  margin-top: 30px;
}
.card-faq-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-faq-heading p {
  font-size: 20px;
  color: #262626;
  font-weight: 500;
  line-height: 150%;
}
.card-faq-heading span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff4e5;
  padding: 4px;
  border-radius: 8px;
  color: #262626;
  font-size: 18px;
  width: 52px;
  height: 52px;
  cursor: pointer;
}

.card-faq-heading span .fa-x {
  display: none;
  cursor: pointer;
}
.card-faq-heading span .fa-plus {
  display: block;
  cursor: pointer;
}
.card-faq-active {
  display: none;
}
#card-faq-item-1 {
  display: none;
}
#card-faq-item-2 {
  display: none;
}
#card-faq-item-3 {
  display: none;
}
#card-faq-item-4 {
  display: none;
}
#card-faq-item-5 {
  display: none;
}
/* checked 1 */
#card-faq-item-1:checked ~ .card-faq-active {
  display: block;
}
#card-faq-item-1:checked ~ .card-faq-heading {
  border-bottom: 1px solid #f1f1f3;
  padding-bottom: 24px;
}
#card-faq-item-1:checked ~ .card-faq-heading .fa-x {
  display: block;
}
#card-faq-item-1:checked ~ .card-faq-heading .fa-plus {
  display: none;
}
/* end checked 1 */
/* checked 2 */
#card-faq-item-2:checked ~ .card-faq-active {
  display: block;
}
#card-faq-item-2:checked ~ .card-faq-heading {
  border-bottom: 1px solid #f1f1f3;
  padding-bottom: 24px;
}
#card-faq-item-2:checked ~ .card-faq-heading .fa-x {
  display: block;
}
#card-faq-item-2:checked ~ .card-faq-heading .fa-plus {
  display: none;
}
/* end checked 2 */
/* checked 3 */
#card-faq-item-3:checked ~ .card-faq-active {
  display: block;
}
#card-faq-item-3:checked ~ .card-faq-heading {
  border-bottom: 1px solid #f1f1f3;
  padding-bottom: 24px;
}
#card-faq-item-3:checked ~ .card-faq-heading .fa-x {
  display: block;
}
#card-faq-item-3:checked ~ .card-faq-heading .fa-plus {
  display: none;
}
/* end checked 4 */
/* checked 4 */
#card-faq-item-4:checked ~ .card-faq-active {
  display: block;
}
#card-faq-item-4:checked ~ .card-faq-heading {
  border-bottom: 1px solid #f1f1f3;
  padding-bottom: 24px;
}
#card-faq-item-4:checked ~ .card-faq-heading .fa-x {
  display: block;
}
#card-faq-item-4:checked ~ .card-faq-heading .fa-plus {
  display: none;
}
/* end checked 5 */
/* checked 5 */
#card-faq-item-5:checked ~ .card-faq-active {
  display: block;
}
#card-faq-item-5:checked ~ .card-faq-heading {
  border-bottom: 1px solid #f1f1f3;
  padding-bottom: 24px;
}
#card-faq-item-5:checked ~ .card-faq-heading .fa-x {
  display: block;
}
#card-faq-item-5:checked ~ .card-faq-heading .fa-plus {
  display: none;
}
/* end checked 5 */
.card-faq .card-faq-active > p {
  font-weight: 400;
  font-size: 18px;
  color: #4c4c4d;
  line-height: 150%;
  margin-top: 25px;
}
.sub-card-faq {
  padding: 20px 30px;
  background-color: #f7f7f8;
  border: 1px solid #f1f1f3;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
  cursor: pointer;
}

.sub-card-faq p {
  font-size: 18px;
  font-weight: 500;
  color: #333333;
  line-height: 150%;
}
.sub-card-faq span {
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  font-size: 16px;
  color: #4c4c4c;
  border-radius: 50%;
  transition: all ease 0.4s;
}
.sub-card-faq span:hover {
  background-color: #f1f1f3;
}
.card-faq-item {
  padding: 30px 50px;
  border: 1px solid #f1f1f3;
  border-radius: 12px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 15px;
  align-items: center;
}
.card-faq-item p {
  font-size: 20px;
  color: #262626;
  line-height: 150%;
  font-weight: 500;
}
.card-faq-item span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff4e5;
  padding: 4px;
  border-radius: 8px;
  color: #262626;
  font-size: 18px;
  width: 52px;
  height: 52px;
  line-height: 1.3;
  flex-shrink: 0;
}

/* start footer */
footer {
  padding: 100px 162px 30px 162px;
  background-color: #ffffff;
  margin-top: 100px;
}
.box-footer {
  display: flex;
  justify-content: space-between;
  gap: 230px;
}
.box-inf {
  flex: 1;
}
.box-service {
  flex: 2;
  display: flex;
  gap: 20px;
}
.box-inf a {
  border-radius: 8px;
  width: 54px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff9500;
}
.box-inf-list {
  margin-top: 30px;
}
.box-inf-icon {
  color: #262626;
  font-size: 16px;
}
.box-inf-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #262626;
}
.box-item {
  flex: 1;
}
.box-item p strong {
  font-size: 20px;
  line-height: 150%;
  color: #262626;
}
.box-item-list {
  margin-top: 10px;
}
.box-item .box-item-list p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #59595a;
  cursor: pointer;
}
.box-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border-radius: 8px;
  border: 1px solid #f1f1f3;
  padding: 14px;
  background-color: #f7f7f8;
  cursor: pointer;
}
.box-item-icon i {
  font-size: 20px;
}
.box-item-list-icon {
  display: flex;
  gap: 10px;
}
footer .line {
  margin-top: 30px;
  margin-bottom: 30px;
}
footer > p {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #656567;
}
