ul {
  list-style: none;
  padding-left: 0;
}
body {
  background-color: #f7f7f8;
}
a {
  text-decoration: none;
}
.box-container {
  overflow: hidden;
}
.header {
  width: 100%;
  max-width: 1860px;
  height: 154px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 10px;
}

.top-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: #ffffff;
  background-color: #ff9500;
  height: 55px;
  width: 100%;
  border-radius: 8px;
}
.top-banner--desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
.top-banner--icon {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.nav-bar {
  width: 100%;
  height: 99px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-bar-container {
  display: flex;
  gap: 20px;
  height: 54px;
}
.nav-bar-logo {
  width: 54px;
  height: 54px;
  background-color: #ff9500;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.nav ul li {
  height: 100%;
}
.nav ul li:first-child {
  background-color: #f1f1f3;
  border-radius: 8px;
}
.nav ul li:hover {
  background-color: #f1f1f3;
  border-radius: 8px;
  transition: 0.4s;
}
.nav ul li a {
  padding: 14px 24px;
  font-size: 18px;
  color: #262626;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav__btn {
  display: flex;
  gap: 30px;
}
.nav__btn-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  cursor: pointer;
  border: none;
}

.nav__btn--sign-up {
  display: flex;
  align-items: center;
  color: #262626;
  background-color: transparent;
}

.nav__btn--login {
  padding: 12px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;

  background-color: #ff9500;
  border-radius: 8px;
}

/* start hero section */
.hero-section {
  width: 100%;
  max-width: 965px;
  margin-left: auto;
  margin-right: auto;
}

.sub-hero-section {
  width: 100%;
}

.top-hero-section {
  width: 100%;
  max-width: 854px;
  margin-left: auto;
  margin-right: auto;
  padding: 14px 30px 14px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #fcfcfd;
  border: 1px solid #f1f1f3;
  border-radius: 11px;
  position: relative;
  margin-top: 60px;
}
.top-hero-section svg {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}
.top-hero-section h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 150%;
  color: #1a1a1a;
}
.top-hero-section h1 span {
  color: #ff9500;
}

.top-hero-section__icon {
  padding: 14px;
  background-color: #fff4e5;
  border-radius: 6px;
}
.top-hero-section__icon i {
  font-size: 22px;
}

.text-hero-section {
  color: #262626;
  width: 100%;
}
.text-hero-section p:first-child {
  font-weight: 500;
  font-size: 38px;
  text-align: center;
  line-height: 150%;
}
.text-hero-section p:last-child {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 150%;
}

/* start btn hero section */

.hero-section-btn {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 70px;
}

.hero-section-btn-item {
  padding: 18px 24px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}

.hero-section-btn-item:first-child {
  background-color: #ff9500;
  border-radius: 8px;
  border: none;
}
.hero-section-btn-item:last-child {
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #f1f1f3;
}
.hero-section-btn-item:first-child {
  color: #ffffff;
}
.hero-section-btn-item:last-child {
  color: #262626;
}

/*start list app */
.list-app {
  width: 100%;
  max-width: 1279px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fcfcfd;
  border: 1px solid #f1f1f3;
  margin-top: 70px;
}
.list-app ul {
  display: flex;
  padding: 24px 0;
  justify-content: center;
}
.list-app ul li {
  flex: 1;
}
.list-app ul li svg {
  width: 100%;
  height: auto;
}
.list-app ul li:not(:first-child) {
  border-left: 1px solid #f1f1f3;
}
.list-app ul li a {
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4c4c4d;
  font-weight: 500;
  font-size: 29px;
  line-height: 150%;
  height: 100%;
}
/* start image container */
.image-container {
  width: 100%;
  max-width: 1279px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  position: relative;
}
.overlay-image-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.image-container img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.btn-icon {
  width: 72px;
  height: 72px;
  padding: 14px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  background-color: rgba(255, 255, 255, 0.2);
  border: 6px solid rgba(255, 255, 255, 0.3);
}
.btn-icon i {
  font-size: 22px;
  color: #ffffff;
}

/* end image container */

/* start benefit section */
.benefit-section {
  width: 100%;
  max-width: 1279px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

.text-benefit p strong {
  color: #262626;
  line-height: 150%;
  font-size: 48px;
  font-weight: 600;
}
.text-benefit p:last-child {
  font-weight: 400;
  line-height: 150%;
  font-size: 18px;
  color: #59595a;
}
.btn-view {
  position: relative;
}
.btn-view button {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  padding: 18px 24px;
  background-color: #fcfcfd;
  border-radius: 8px;
  border: 1px solid #f1f1f3;
  color: #262626;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  cursor: pointer;
  transition: all ease 0.4s;
}
.btn-view button:hover {
  background-color: #f1f1f3;
}
.container-benefit-section {
  margin-top: 40px;
}

.container-benefit-section .list-benefit {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.container-benefit-section .item-benefit {
  padding: 30px;
  width: calc((100% - 20px) / 3);
  min-height: 320px;
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
}
.container-benefit-section .number {
  text-align: right;
}
.container-benefit-section .number b {
  font-weight: 700;
  line-height: 24px;
  font-size: 62px;

  color: #262626;
  height: auto;
}

.container-benefit-section p b {
  font-size: 23px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.6%;
}

.item-benefit-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #4c4c4d;
  margin-top: 10px;
}
.item-benefit-title {
  margin-top: 20px;
}

.container-benefit-section .item-icon {
  display: inline-block;
  padding: 20px;
  background-color: #f1f1f3;
  border-radius: 8px;
  position: absolute;
  bottom: 20px;
  right: 30px;
  cursor: pointer;
}
.container-benefit-section .item-icon i {
  transform: rotate(-45deg);
  color: #ff9500;
  font-size: 26px;
}

/* đoạn này đang dùng absolute cho thẻ icon, nếu không dùng thì các icon không thẳng hàng và phải dùng min-height. vậy nếu reponsive xấu đi thì sao */

.benefit-section {
  width: 100%;
  max-width: 1279px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

/* our course */
.our-courses-section {
  margin-top: 70px;
}
.container-course {
  margin-top: 80px;
}
.list-course {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.item-course {
  width: calc((100% - 20px) / 2);
  padding: 50px;
  border-radius: 12px;
  border: 1px solid #f1f1f3;
  background-color: #ffffff;
  min-height: 614px;
  position: relative;
}
.item-course img {
  width: 100%;
  height: 272px;
  object-fit: cover;
  border-radius: 8px;
}
.sub-course-inf {
  display: flex;
  justify-content: space-between;
  height: auto;
  align-items: center;
}
.sub-course-inf > div > span {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  padding: 10px 16px;
  border: 1px solid #f1f1f3;
  border-radius: 8px;
  background-color: #ffffff;
  display: inline-block;
}
.sub-course-inf > span {
  font-weight: 500;
  color: #262626;
  font-size: 20px;
  line-height: 100%;
}
.text-item-course {
  margin-top: 20px;
}
.text-item-course p:first-child {
  margin-bottom: 15px;
}
.text-item-course p:first-child strong {
  font-weight: 600;
  line-height: 150%;
  color: #262626;
  font-size: 24px;
}
.text-item-course p:last-child {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: justify;
}
.btn-course {
  margin-top: 20px;
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding-left: 50px;
  padding-right: 50px;
}

.btn-course button {
  width: 100%;
  height: 56px;
  display: block;
  font-weight: 500;
  line-height: 150%;
  font-size: 18px;
  color: #262626;
  background-color: #f7f7f8;
  border: 1px solid #f1f1f3;
  border-radius: 8px;
  cursor: pointer;
}

.btn-course button:hover {
  background-color: #f1f1f3;
  transition: all ease 0.4s;
}

/* testimonials */
.testimonials-section {
  margin-top: 70px;
}
.container-testimonials {
  margin-top: 70px;
}
.list-ttm {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.item-ttm {
  width: calc((100% - 20px) / 2);
  border: 1px solid #f1f1f3;
  border-radius: 12px;
  position: relative;
  min-height: 300px;
  background-color: #ffffff;
  border-radius: 12px;
}
.item-ttm p {
  padding: 50px;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: #4c4c4d;
}
.line {
  width: 100%;
  height: 1px;
  background-color: #f1f1f3;
  display: block;
}
.ttm-user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.ttm-user span b {
  font-size: 18px;
  line-height: 150%;
  color: #333333;
}
.ttm-inf {
  padding: 30px 50px;
  background-color: #fcfcfd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.ttm-inf img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  object-fit: cover;
}
.ttm-inf button {
  padding: 16px 18px;
  border-radius: 8px;
  background-color: #f7f7f8;
  border: 1px solid #f1f1f3;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  color: #262626;
  cursor: pointer;
}
.ttm-inf button:hover {
  transition: all ease 0.4s;
  background-color: #f1f1f3;
}

/* start our - pricing */
.our-pricing {
  margin-top: 70px;
}
.btn-pricing {
  position: relative;
}
.btn-pricing div {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  display: flex;
  padding: 12px;
  border-radius: 8px;
  background-color: #ffffff;
}
.btn-pricing button {
  display: inline-block;
  padding: 14px 30px;
  font-size: 18px;
  line-height: 150%;
  color: #4c4c4d;
  border-radius: 100px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}
.btn-pricing button:first-child {
  color: #ffffff;
  background-color: #ff9500;
  border-radius: 6px;
}
/* start container - pricing */
.container-pricing {
  padding: 80px;
  gap: 30px;
  display: flex;
  background-color: #ffffff;
  margin-top: 50px;
}
.item-pricing {
  width: calc((100% - 30px) / 2);
  padding: 50px 30px 30px 30px;
  background-color: #fcfcfd;
  border: 1px solid #f1f1f3;
  border-radius: 12px;
}
.item-pricing .item-pricing-title {
  background-color: #ffeacc;
  border: 1px solid #fff9f0;
  border-radius: 6px;
  padding: 12px 22px;
  text-align: center;
}
.item-pricing .item-pricing-title span {
  color: #262626;
  font-weight: 500;
  line-height: 169%;
  font-size: 18px;
}
.item-pricing-desc {
  color: #4c4c4d;
  font-size: 18px;
  line-height: 73%;
  font-weight: 500;
  margin-top: 40px;
  text-align: center;
}
.item-pricing-desc strong {
  font-size: 60px;
  line-height: 73%;
  color: #262626;
}

.container-features {
  margin-top: 40px;
}
.box-features {
  padding: 30px;
  background-color: #ffffff;
  border: 1px solid #f1f1f3;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}
.box-features p:first-child {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #262626;
  text-align: center;
}
.list-features {
  padding-right: 30px;
  padding-left: 30px;
}
.item-features {
  display: flex;
  gap: 12px;
  border: 1px solid #f1f1f3;
  border-radius: 8px;
  align-items: center;
  padding: 8px;
}
.item-features {
  margin-top: 15px;
}
.item-features-icon {
  display: inline-block;
  padding: 6px;
  background-color: #fff4e5;
  color: #262626;
  border-radius: 6px;
}
.item-features-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  color: #4c4c4d;
}
.item-features-x .item-features-icon-x {
  background-color: #f1f1f3;
}
.container-features button {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 20px 24px;
  background-color: #ff9500;
  color: #ffffff;
  line-height: 150%;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  display: flex;
  border: 1px solid #ff9500;
  justify-content: center;
  cursor: pointer;
}

/* start faq section */
.faq-section {
  padding: 100px;
  background-color: #ffffff;
  border-radius: 12px;
  display: flex;
  gap: 40px;
  margin-top: 70px;
}
.text-faq {
  flex: 1;
}
.item-faq {
  flex: 2;
}
.text-faq p strong {
  font-size: 40px;
  line-height: 120%;
  color: #262626;
}
.text-faq p {
  color: #333333;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.text-faq p:nth-child(2) {
  margin-top: 10px;
}
.text-faq button {
  padding: 14px 20px;
  border: 1px solid #f1f1f3;
  background-color: #ffffff;
  border-radius: 8px;
  color: #262626;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  margin-top: 30px;
  cursor: pointer;
  transition: all ease 0.4s;
}
.text-faq button:hover {
  background-color: #f1f1f3;
}
.card-faq {
  padding: 30px 50px;
  border: 1px solid #f1f1f3;
  background-color: #ffffff;
  border-radius: 12px;
}
.card-faq:not(:first-child) {
  margin-top: 15px;
}
.card-faq-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-faq-heading p {
  font-size: 20px;
  color: #262626;
  font-weight: 500;
  line-height: 150%;
}
.card-faq-heading span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff4e5;
  padding: 4px;
  border-radius: 8px;
  color: #262626;
  font-size: 18px;
  width: 52px;
  height: 52px;
  cursor: pointer;
}

.card-faq-heading span .fa-x {
  display: none;
  cursor: pointer;
}
.card-faq-heading span .fa-plus {
  display: block;
  cursor: pointer;
}
.card-faq-active {
  display: none;
}
#card-faq-item-1 {
  display: none;
}
#card-faq-item-2 {
  display: none;
}
#card-faq-item-3 {
  display: none;
}
#card-faq-item-4 {
  display: none;
}
#card-faq-item-5 {
  display: none;
}
/* checked 1 */
#card-faq-item-1:checked ~ .card-faq-active {
  display: block;
}
#card-faq-item-1:checked ~ .card-faq-heading {
  border-bottom: 1px solid #f1f1f3;
  padding-bottom: 24px;
}
#card-faq-item-1:checked ~ .card-faq-heading .fa-x {
  display: block;
}
#card-faq-item-1:checked ~ .card-faq-heading .fa-plus {
  display: none;
}
/* end checked 1 */
/* checked 2 */
#card-faq-item-2:checked ~ .card-faq-active {
  display: block;
}
#card-faq-item-2:checked ~ .card-faq-heading {
  border-bottom: 1px solid #f1f1f3;
  padding-bottom: 24px;
}
#card-faq-item-2:checked ~ .card-faq-heading .fa-x {
  display: block;
}
#card-faq-item-2:checked ~ .card-faq-heading .fa-plus {
  display: none;
}
/* end checked 2 */
/* checked 3 */
#card-faq-item-3:checked ~ .card-faq-active {
  display: block;
}
#card-faq-item-3:checked ~ .card-faq-heading {
  border-bottom: 1px solid #f1f1f3;
  padding-bottom: 24px;
}
#card-faq-item-3:checked ~ .card-faq-heading .fa-x {
  display: block;
}
#card-faq-item-3:checked ~ .card-faq-heading .fa-plus {
  display: none;
}
/* end checked 4 */
/* checked 4 */
#card-faq-item-4:checked ~ .card-faq-active {
  display: block;
}
#card-faq-item-4:checked ~ .card-faq-heading {
  border-bottom: 1px solid #f1f1f3;
  padding-bottom: 24px;
}
#card-faq-item-4:checked ~ .card-faq-heading .fa-x {
  display: block;
}
#card-faq-item-4:checked ~ .card-faq-heading .fa-plus {
  display: none;
}
/* end checked 5 */
/* checked 5 */
#card-faq-item-5:checked ~ .card-faq-active {
  display: block;
}
#card-faq-item-5:checked ~ .card-faq-heading {
  border-bottom: 1px solid #f1f1f3;
  padding-bottom: 24px;
}
#card-faq-item-5:checked ~ .card-faq-heading .fa-x {
  display: block;
}
#card-faq-item-5:checked ~ .card-faq-heading .fa-plus {
  display: none;
}
/* end checked 5 */
.card-faq .card-faq-active > p {
  font-weight: 400;
  font-size: 18px;
  color: #4c4c4d;
  line-height: 150%;
  margin-top: 25px;
}
.sub-card-faq {
  padding: 20px 30px;
  background-color: #f7f7f8;
  border: 1px solid #f1f1f3;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
  cursor: pointer;
}

.sub-card-faq p {
  font-size: 18px;
  font-weight: 500;
  color: #333333;
  line-height: 150%;
}
.sub-card-faq span {
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  font-size: 16px;
  color: #4c4c4c;
  border-radius: 50%;
  transition: all ease 0.4s;
}
.sub-card-faq span:hover {
  background-color: #f1f1f3;
}
.card-faq-item {
  padding: 30px 50px;
  border: 1px solid #f1f1f3;
  border-radius: 12px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 15px;
  align-items: center;
}
.card-faq-item p {
  font-size: 20px;
  color: #262626;
  line-height: 150%;
  font-weight: 500;
}
.card-faq-item span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff4e5;
  padding: 4px;
  border-radius: 8px;
  color: #262626;
  font-size: 18px;
  width: 52px;
  height: 52px;
  line-height: 1.3;
  flex-shrink: 0;
}

/* start footer */
footer {
  padding: 100px 162px 30px 162px;
  background-color: #ffffff;
  margin-top: 100px;
}
.box-footer {
  display: flex;
  justify-content: space-between;
  gap: 230px;
}
.box-inf {
  flex: 1;
}
.box-service {
  flex: 2;
  display: flex;
  gap: 20px;
}
.box-inf a {
  border-radius: 8px;
  width: 54px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff9500;
}
.box-inf-list {
  margin-top: 30px;
}
.box-inf-icon {
  color: #262626;
  font-size: 16px;
}
.box-inf-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #262626;
}
.box-item {
  flex: 1;
}
.box-item p strong {
  font-size: 20px;
  line-height: 150%;
  color: #262626;
}
.box-item-list {
  margin-top: 10px;
}
.box-item .box-item-list p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #59595a;
  cursor: pointer;
}
.box-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border-radius: 8px;
  border: 1px solid #f1f1f3;
  padding: 14px;
  background-color: #f7f7f8;
  cursor: pointer;
}
.box-item-icon i {
  font-size: 20px;
}
.box-item-list-icon {
  display: flex;
  gap: 10px;
}
footer .line {
  margin-top: 30px;
  margin-bottom: 30px;
}
footer > p {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #656567;
}
.main {
  padding: 0 30px;
}
.bars-icon {
  font-size: 22px;
  display: none;
}

#btn-bars {
  display: none;
}
.bars-heading {
  width: 88%;
  margin-left: 19px;
  margin-top: 16px;
  margin-right: 8px;
  display: flex;
  justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 14px;
  border-bottom: 1px solid #f1f1f3;
}
.bars-heading__img a {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: #ff9500;
  border-radius: 6px;
}
.bars-heading label {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  cursor: pointer;
}
/* menu bar */

.item-bars a {
  display: flex;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #262626;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.item-bars a:hover {
  background-color: #f2f2f7;
}
.item-bars a:first-child {
  margin-top: 25px;
  background-color: #f2f2f7;
}
.item-bars a:not(:first-child) {
  margin-top: 20px;
}
.nav__btn input {
  display: none;
}
.menu-bars {
  position: fixed;
  top: 0;
  right: 0;
  width: 85%;
  height: 100vh;
  background-color: #ffffff;
  z-index: 3;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;

  transform: translateX(100%);
  transition: all 0.3s ease;
}
.overlay__label {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -2;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
}
#btn-bars:checked ~ .overlay__label {
  z-index: 2;
  opacity: 1;
  visibility: visible;
}
#btn-bars:checked ~ .menu-bars {
  display: block;
  transform: translateX(0);
}

/* * * Thiet bi Table & Mobile: @media screen and (max-width: 991px) * * */
@media screen and (max-width: 991px) {
}

@media screen and (max-width: 1025px) {
  .item-course img {
    height: 240px;
  }
  .text-benefit p:last-child {
    text-align: justify;
  }

  .text-benefit p strong {
    font-size: 48px;
  }

  .container-benefit-section .item-benefit {
    min-height: 340px;
  }
  .box-features {
    padding: 25px 20px;
  }

  /* tesst */
  .item-course img {
    height: 240px;
  }
  .sub-course-inf > div > span {
    font-size: 14px;
  }
  .top-banner--desc {
    font-size: 14px;
  }
  .nav ul li a {
    font-size: 16px;
    padding: 16px 18px;
  }
  .nav__btn-item {
    font-size: 16px;
  }
  .top-hero-section h1 {
    font-size: 48px;
  }
  .text-hero-section p:first-child {
    font-size: 30px;
  }
  .text-hero-section p:last-child {
    font-size: 16px;
  }
  .hero-section-btn-item {
    font-size: 18px;
  }
  .item-course {
    min-height: 630px;
    padding: 22px;
    gap: 10px;
    width: calc((100% - 10px) / 2);
  }
  .btn-course {
    padding-left: 40px;
    padding-right: 40px;
  }
  .list-course {
    gap: 10px;
  }
  .text-faq p strong {
    font-size: 33px;
  }

  .container-benefit-section .list-benefit {
    gap: 5px;
  }
  .container-benefit-section .item-benefit {
    width: calc((100% - 10px) / 3);
  }

  .item-ttm {
    min-height: 310px;
  }

  .ttm-inf {
    padding: 24px 40px;
  }
  .btn-pricing button {
    padding: 12px 24px;
    font-size: 14px;
  }
  .container-pricing {
    padding: 50px 20px;
  }
  .item-pricing {
    padding: 40px 16px 24px 16px;
    width: calc((100% - 14px) / 2);
  }
  .container-pricing {
    gap: 14px;
  }
  .box-features {
    padding: 20px 6px;
  }
  .list-features {
    padding-right: 5px;
    padding-left: 5px;
  }

  .item-features {
    gap: 4px;
  }
  .item-features-icon {
    font-size: 8px;
  }

  .container-features button {
    position: absolute;
    bottom: 0px;
  }
  .faq-section {
    padding: 60px 30px;
    gap: 20px;
  }

  footer {
    padding: 60px 30px 20px 30px;
  }
  .box-footer {
    gap: 100px;
  }
  .box-item-icon {
    padding: 8px;
    width: 40px;
    height: 40px;
  }
  .container-features {
    position: relative;
    min-height: 606px;
  }
}
/*  * * Thiet bi rieng Table: @media screen and (min-width: 768px) and (max-width: 991px) * * */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .item-course img {
    height: 240px;
  }
  .list-app ul li a {
    padding: 10px 20px;
  }
  .sub-course-inf > div > span {
    font-size: 14px;
  }
  .nav ul li a {
    font-size: 14px;
    padding: 14px 16px;
  }
  .nav__btn-item {
    font-size: 14px;
  }
  .top-hero-section h1 {
    font-size: 36px;
  }
  .text-hero-section p:first-child {
    font-size: 28px;
  }
  .hero-section-btn-item {
    font-size: 14px;
  }
  .text-benefit p strong {
    font-size: 38px;
  }
  .text-benefit p:last-child {
    font-size: 14px;
    text-align: justify;
  }
  .container-benefit-section p b {
    font-size: 18px;
  }
  .sub-course-inf > div > span {
    font-size: 12px;
    padding: 10px 5px;
  }
  .text-item-course p:first-child strong {
    font-size: 20px;
  }
  .btn-course button {
    font-size: 14px;
  }
  .sub-course-inf > span {
    font-size: 16px;
  }
  .item-ttm p {
    padding: 40px;
  }
  .ttm-inf img {
    width: 50px;
    height: 50px;
  }
  .ttm-user span b {
    font-size: 16px;
  }
  .ttm-inf button {
    padding: 10px 12px;
    font-size: 14px;
  }
  .box-features p:first-child {
    font-size: 18px;
  }
  .item-features-text {
    font-size: 12px;
    padding: 3px;
  }
  .container-features button {
    font-size: 14px;
    padding: 18px 24px;
  }
  .text-faq p strong {
    font-size: 22px;
  }
  .text-faq button {
    font-size: 14px;
  }
  .card-faq {
    padding: 22px;
  }
  .card-faq-heading p {
    font-size: 15px;
  }
  .card-faq-heading span {
    width: 40px;
    height: 40px;
    font-size: 12px;
  }

  .card-faq .card-faq-active > p {
    font-size: 16px;
  }
  .sub-card-faq {
    padding: 16px 24px;
  }
  .sub-card-faq p {
    font-size: 16px;
  }
  .sub-card-faq span {
    padding: 12px;
    font-size: 12px;
  }
  footer {
    padding: 60px 30px 20px 30px;
  }
  .box-footer {
    gap: 30px;
  }
  .box-item p strong {
    font-size: 18px;
  }
  .box-item-icon {
    padding: 8px;
    width: 40px;
    height: 40px;
  }
  .box-item .box-item-list p {
    font-size: 13px;
  }
  .container-features {
    position: relative;
    min-height: 606px;
  }
  footer > p {
    font-size: 14px;
  }
  .list-ttm {
    gap: 10px;
  }
  .item-ttm {
    width: calc((100% - 10px) / 2);
    min-height: 310px;
  }
}

/* * * Thiet bi Mobile: @media screen and (max-width: 767px) * * */
@media screen and (max-width: 767px) {
  .item-course img {
    height: 240px;
  }
  .list-app ul li a {
    padding: 15px 30px;
  }
  .list-app ul {
    padding: 10px;
  }
  .sub-course-inf > div > span {
    font-size: 14px;
  }
  .nav ul li a {
    font-size: 14px;
    padding: 14px 16px;
  }
  .nav__btn-item {
    font-size: 14px;
  }
  .top-hero-section h1 {
    font-size: 16px;
  }
  .text-hero-section p:first-child {
    font-size: 24px;
  }
  .text-hero-section p:last-child {
    margin-top: 10px;
    font-size: 17px;
  }
  .hero-section-btn-item {
    font-size: 14px;
  }
  .text-benefit p strong {
    font-size: 38px;
  }
  .text-benefit p:last-child {
    font-size: 14px;
    text-align: justify;
  }
  .container-benefit-section p b {
    font-size: 18px;
  }
  .sub-course-inf > div > span {
    font-size: 12px;
    padding: 10px 5px;
  }
  .text-item-course p:first-child strong {
    font-size: 20px;
  }
  .btn-course button {
    font-size: 14px;
  }
  .sub-course-inf > span {
    font-size: 16px;
  }
  .item-ttm p {
    padding: 40px;
  }
  .ttm-inf img {
    width: 50px;
    height: 50px;
  }
  .ttm-user span b {
    font-size: 16px;
  }
  .ttm-inf button {
    padding: 10px 12px;
    font-size: 14px;
  }
  .box-features p:first-child {
    font-size: 18px;
  }
  .item-features-text {
    font-size: 12px;
    padding: 3px;
  }
  .container-features button {
    font-size: 14px;
    padding: 18px 24px;
  }
  .text-faq p strong {
    font-size: 22px;
  }
  .text-faq button {
    font-size: 14px;
  }
  .card-faq {
    padding: 22px;
  }
  .card-faq-heading p {
    font-size: 15px;
  }
  .card-faq-heading span {
    width: 40px;
    height: 40px;
    font-size: 12px;
  }

  .card-faq .card-faq-active > p {
    font-size: 16px;
  }
  .sub-card-faq {
    padding: 16px 24px;
  }
  .sub-card-faq p {
    font-size: 16px;
  }
  .sub-card-faq span {
    padding: 12px;
    font-size: 12px;
  }
  footer {
    padding: 60px 30px 20px 30px;
  }
  .box-footer {
    gap: 100px;
  }
  .box-item p strong {
    font-size: 18px;
  }
  .box-item-icon {
    padding: 8px;
    width: 40px;
    height: 40px;
  }
  .box-item .box-item-list p {
    font-size: 13px;
  }
  .container-features {
    position: relative;
    min-height: 606px;
  }
  footer > p {
    font-size: 14px;
  }
  .list-ttm {
    gap: 10px;
  }
  .item-ttm {
    width: 100%;
    min-height: 310px;
  }
  .bars-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .nav {
    display: none;
  }
  .top-hero-section__icon {
    padding: 12px;
  }
  .list-app li:nth-child(4) {
    display: none;
  }
  .list-app li:nth-child(5) {
    display: none;
  }
  .list-app li:nth-child(6) {
    display: none;
  }
  .list-app li:nth-child(7) {
    display: none;
  }
  .top-benefit-section {
    flex-wrap: wrap;
  }
  .btn-view {
    min-height: 100px;
  }
  .btn-view button {
    left: 0;
    right: auto;
  }
  .container-benefit-section .item-benefit {
    width: 100%;
    min-height: 293px;
  }
  .container-benefit-section .list-benefit {
    gap: 30px;
  }
  .list-course {
    gap: 40px;
  }
  .item-course {
    width: 100%;
  }
  .list-ttm {
    gap: 30px;
  }
  .btn-pricing {
    min-height: 100px;
  }
  .btn-pricing div {
    left: 0;
    right: auto;
    bottom: 0;
  }
  .item-pricing {
    width: 100%;
  }
  .container-pricing {
    flex-wrap: wrap;
    gap: 40px;
  }
  .faq-section {
    flex-wrap: wrap;
  }
  .text-faq {
    width: 100%;
    flex: none;
  }
  .card-faq-heading {
    gap: 5px;
  }
  .box-footer {
    flex-wrap: wrap;
  }
  .box-inf {
    width: 100%;
    flex: auto;
  }
  .box-item {
    flex: auto;
  }
  .box-service {
    flex-wrap: wrap;
  }
}
